* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containerHead {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 30px 130px;
  font-family: "Open Sans", sans-serif;
}
.headerTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.headerTop ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.headerBot {
  display: flex;
  gap: 50px;
}
.headerBotLeft {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.headerBotRight {
  flex: 1 1 auto;
}
h1,
h3,
.titleTwo {
  color: #f9faf8;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 48px;
  font-weight: 800;
}
h3 {
  font-size: 24px;
}
p,
.links {
  font-size: 18px;
  color: #e5e7eb;
}
.headButton {
  background-color: #3882f6;
  border-color: #3882f6;
  padding: 5px 20px;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  align-self: flex-start;
  color: #f9faf8;
  margin-top: 20px;
}
.mainTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleTwo {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 60px 0;
}
.typesDragon {
  flex: 1;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding-bottom: 60px;
}
.blackDragon,
.redDragon,
.blueDragon,
.greenDragon {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
  gap: 30px;
}
.blackDragon img,
.redDragon img,
.blueDragon img,
.greenDragon img {
  border: 2.5px solid rgb(57, 0, 227);
  border-radius: 50px;
}
.dragonInfo {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.mainBot {
  background-color: #e5e7eb;
  padding: 70px 130px;
}
.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  display: flex;
  justify-content: center;
  text-align: center;
}
.quoteAuthor {
  color: black;
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
  font-weight: bold;
}
